/* Badge.css */
.badgeNavbarRoomService {
  position: absolute;
  top: 18px;
  left: 10px;
  background-color: #FFD55B;
  color: black;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  font-weight: 1;
  border-color: white;
  border-width: 1px; /* border kalınlığı */
  border-style: solid;
  font-family: 'Poppins';
  z-index: 9999;
  overflow: "visible";
}

/* Badge.css */
.badgeNavbarAlarms {
  position: absolute;
  top: 18px;
  left: 14px;
  background-color: #E72636;
  color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 1;
  border-color: white;
  border-width: 1px; /* border kalınlığı */
  border-style: solid;
  font-family: 'Poppins';
}

.badgeHomeAlarms {
  position: absolute;
  background-color: #E72636;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 1;
  font-size: 17;
  border-color: white;
  border-width: 1px; /* border kalınlığı */
  border-style: solid;
}

.badgeHomeRoomService {
  position: absolute;
  background-color: #FFD55B;
  color: black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 1;
  font-size: 17;
  border-color: white;
  border-width: 1px; /* border kalınlığı */
  border-style: solid;
}

.badgeContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Ensure the content spans the full width of the MenuItem */
}

.badgeRoomStatusAlarms {
  position: relative;
  background-color: #E72636;
  color: white;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-weight: 1;
  border-color: white;
  border-width: 1px; /* border kalınlığı */
  border-style: solid;

}